cv2
imutils
gevent
alembic
Bootstrap-Flask
Click
Flask
Flask-Login
Flask-Migrate
Flask-Script
flask-sqlacodegen
Flask-SQLAlchemy
Flask-Uploads
Flask-WTF
flask-paginate
inflect
itsdangerous
Jinja2
Mako
MarkupSafe
PyMySQL
python-dateutil
python-dotenv
python-editor
six
SQLAlchemy
tornado
Werkzeug
WTForms
pyserial
