{% extends "base.html" %}

{% block content %}
    <div class="form-row">
        <div class="form-group col-sm-6 required">
            <label for="select_course">種族</label>
            <select class="form-control" id="select_course" required>
                {% for course in course_list %}
                    <option value="{{ course }}">{{ course }}awsl</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group col-sm-6">
            <label for="input_remark">性格</label>
            <input type="text" class="form-control" id="input_remark" placeholder="可爱的蓝孩子">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-sm-12 required">
            <label for="topic_format">暗中</label>
            <textarea class="form-control" id="topic_format" rows="1"
                      placeholder="" required></textarea>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-sm-12">
            <label for="topic_raw">观察</label>
            <textarea class="form-control" id="topic_raw" rows="3"
                      placeholder="我可是身经百战了，见得多了！"></textarea>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-sm-12 required">
            <label for="answer_format">要素</label>
            <textarea class="form-control" id="answer_format" rows="1"
                      placeholder="" required></textarea>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-sm-12">
            <label for="answer_raw">察觉</label>
            <textarea class="form-control" id="answer_raw" rows="3"
                      placeholder="我可以回答你一句，无可奉告。"></textarea>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-sm-12">
            <div class="custom-file">
                <input class="custom-file-input" id="photo" name="photo" required="" type="file">
                <label class="custom-file-label" for="photo">Choose dress</label>
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-sm-12">
            <div id="file_uploads"></div>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-sm-12">
            <button class="btn btn-primary" id="save_question">Save</button>
            <button class="btn btn-primary" id="start_format">Format</button>
            <button class="btn btn-primary" id="save_file">图片</button>
        </div>
    </div>

    <input type="hidden" id="user_id" value="{{ current_user.id }}">
    <input type="hidden" id="related_pic" value="">

    <div id="answer_list">

    </div>

    <div id="error_list" style="display: none;">

    </div>
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function () {

            $('#photo').on('change',function(){
                //get the file name
                var fileName = $(this).val();
                //replace the "Choose a file" label
                $(this).next('.custom-file-label').html(fileName);
            });

            {#$("#file_uploads").load('{{ url_for('surface.uploads') }}');#}
            $("#save_file").click(function () {

                var file_container = $("#file_uploads");

                var formData = new FormData();
                formData.append('photo', $('#photo')[0].files[0]);
                $.ajax({
                    url: '{{ url_for('surface.uploads') }}',
                    type: 'POST',
                    cache: false,
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        var message = '';
                        if (data.result === 'success') {
                            file_container.html('<img src="' + data.file_url + '">');
                            $("#related_pic").val(data.file_name)
                        } else {
                            message = '失败了！！';
                            $("#custom_warning_alert").empty().show().text(message).delay(5000).fadeOut(300);
                        }
                    },
                    error: function (xhr, type) {
                        var message = 'Connection failed!';
                        $("#custom_warning_alert").empty().show().text(message).delay(5000).fadeOut(300);
                    }
                });

                // Inject our CSRF token into our AJAX request.
                {#$.ajaxSetup({
                    beforeSend: function (xhr, settings) {
                        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                            xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token() }}")
                        }
                    }
                })#}

            });

            $('#start_format').click(function () {
                {#format_text()#}
            });

            $("#save_question").click(function () {
                $("#error_list").hide();
                {#format_text();#}

                // Load chrysanthemum, simulate loading effect
                {#item_container.html('<div class="showbox">\n' +#}
                {#    '  <div class="loader">\n' +#}
                {#    '    <svg class="circular" viewBox="25 25 50 50">\n' +#}
                {#    '      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>\n' +#}
                {#    '    </svg>\n' +#}
                {#    '  </div>\n' +#}
                {#    '</div>');#}

                confirm_change()
            });

            function confirm_change() {
                // 速度太快，no need
                {#var custom_primary_alert = $("#custom_primary_alert");#}
                {#var message = 'Executing...';#}
                {#custom_primary_alert.empty().show().text(message);#}

                var topic = $("#topic_format");
                var answer = $("#answer_format");
                var topic_raw = $("#topic_raw");
                var answer_raw = $("#answer_raw");
                var remark = $("#input_remark");
                var course = $("#select_course option:selected");
                var related_pic = $("#related_pic");

                var user_id = $("#user_id");

                if (topic === "" || answer === "" || course === "") {
                    var custom_info_alert = $("#custom_info_alert");
                    var message = '不要慌，问题不大（记得必填字段';
                    custom_info_alert.empty().show().text(message);
                    return false;
                }

                var data = {
                    'topic': topic.val().replace(/[\s\r\n]/g, ""),
                    'answer': answer.val().replace(/[\s\r\n]/g, ""),
                    'topic_raw': topic_raw.val(),
                    'answer_raw': answer_raw.val(),
                    'course': course.val(),
                    'remark': remark.val(),
                    'related_pic': related_pic.val(),
                    'user_id': user_id.val()
                };

                $.ajax({
                    type: 'POST',
                    url: '/api/question',
                    data: JSON.stringify(data),
                    contentType: 'application/json; charset=UTF-8',
                    dataType: 'json',
                    success: function (data) {
                        $("#custom_primary_alert").fadeOut(0);
                        $("#custom_warning_alert").fadeOut(0);
                        $("#custom_info_alert").fadeOut(0);
                        var message = '';
                        if (data.result === 'success') {
                            message = 'Lucky!!';
                            $("#custom_primary_alert").empty().show().text(message).delay(5000).fadeOut(300);

                            // 手动清空表单
                            topic.val("");
                            answer.val("");
                            topic_raw.val("");
                            answer_raw.val("");
                            related_pic.val("");
                            $("#file_uploads").html("");
                            var file_input = $('#photo');
                            file_input.val("");
                            file_input.next('.custom-file-label').html('Choose dress');
                            {#remark.val("");#}
                        } else {
                            {#$("#error_list").html('<div class="form-row">\n' +#}
                            {#    '            <div class="form-group col-sm-12">\n' +#}
                            {#    'Error: ' + data.data +#}
                            {#    '            </div>\n' +#}
                            {#    '        </div>').show();#}
                            message = '失败了！！';
                            $("#custom_warning_alert").empty().show().text(message).delay(5000).fadeOut(300);
                        }
                    },
                    error: function (xhr, type) {
                        var message = 'Connection failed!';
                        $("#custom_warning_alert").empty().show().text(message).delay(5000).fadeOut(300);
                    }
                });
            }

            function format_text() {
                var inputValue = $("#answer_format").val();
                var valueList = {};

                if (inputValue.indexOf(",") !== -1) {
                    return false
                } else if (inputValue.indexOf("-") !== -1) {
                    var regex_item = /\d{5,10}-\d{1,4}/g;
                    valueList = inputValue.match(regex_item)
                } else {
                    var regex_request = /\d{5,10}/g;
                    valueList = inputValue.match(regex_request)
                }

                var valueStr = '';

                for (var key = 0; key < valueList.length; key++) {
                    var rawIdsString = valueList[key];
                    valueStr += rawIdsString + ','
                }
                var correctVal = valueStr.slice(0, -1);
                $("#answer_format").val(correctVal)
            }

        })
    </script>
{% endblock %}