

{#{{ render_field(form.photo) }}#}
{% for error in form.photo.errors %}
    <span style="color: red;">{{ error }}</span>
{% endfor %}
<button class="btn btn-primary" id="save_file">上传</button>

{% if file_url %}
    <br><img src="{{ file_url }}">
{% endif %}
<input type="hidden" id="related_pic" value="{{ file_url }}">

<script>
    $("#save_file").click(function () {

        var file_container = $("#file_uploads");

        var formData = new FormData();
        formData.append('photo', $('#file')[0].files[0]);
        $.ajax({
            url: '{{ url_for('surface.uploads') }}',
            type: 'POST',
            cache: false,
            data: formData,
            processData: false,
            contentType: false,
            success: function (data) {
                var message = '';
                if (data.result === 'success') {
                    message = 'Lucky!!';
                    $("#custom_primary_alert").empty().show().text(message).delay(5000).fadeOut(300);
                } else {
                    message = '失败了！！';
                    $("#custom_warning_alert").empty().show().text(message).delay(5000).fadeOut(300);
                }
            },
            error: function (xhr, type) {
                var message = 'Connection failed!';
                $("#custom_warning_alert").empty().show().text(message).delay(5000).fadeOut(300);
            }
        });

    })
</script>