{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_form %}

{% block content %}
    <h1>Sign In</h1>
    {{ render_form(form) }}
    <p>New User? <a href="{{ url_for('surface.register') }}">来啊！！</a></p>
    <p>
        <span style="color:red;">( ◕ ‿‿ ◕ )</span>
        <span style="color:blue;">( ◕ ‿‿ ◕ )</span>
        <span style="color:red;">( ◕ ‿‿ ◕ )</span>
        <span style="color:blue;">( ◕ ‿‿ ◕ )</span>
        <span style="color:red;">( ◕ ‿‿ ◕ )</span>
    </p>
{% endblock %}