{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_form %}

{% block content %}
    <div style="width: 400px; height: 400px; margin: auto;">
        <h1>Sign Up</h1>
        {{ render_form(form) }}
        <p></p>
        <p>
            <span style="color:red;">( ◕ ‿‿ ◕ )</span>
            <span style="color:blue;">( ◕ ‿‿ ◕ )</span>
            <span style="color:red;">( ◕ ‿‿ ◕ )</span>
            <span style="color:blue;">( ◕ ‿‿ ◕ )</span>
            <span style="color:red;">( ◕ ‿‿ ◕ )</span>
        </p>
    </div>
{% endblock %}