{% extends "base.html" %}

{% block styles %}
    <style>
        #div_g {
            width: 600px;
            height: 300px;
        }
    </style>
{% endblock %}

{% block content %}
    <div style="font-size: large;padding-bottom: 10px;">实时温度</div>
    <div class="card">
        <div class="card-body">
            <div id="div_g"></div>
        </div>
    </div>

    <div style="font-size: large;padding: 30px 0 10px 0;">开关</div>

    <div class="form-row">
        {% for config in config_list %}
            <div class="col">
                <div class="custom-control custom-toggle my-2">
                    <input {% if config.disabled == 1 %}disabled{% endif %}
                           {% if config.status == 1 %}checked{% endif %}
                           type="checkbox" id="{{ config.sensor_type }}Switch" name="{{ config.sensor_type }}"
                           class="custom-control-input">
                    <label class="custom-control-label" for="{{ config.sensor_type }}Switch">{{ config.others }}</label>
                </div>
            </div>
        {% endfor %}
    </div>

    <div style="font-size: large;padding: 30px 0 10px 0;">设定</div>

    <div class="form-row">
        <div class="col">
            <select class="custom-select">
                <option selected>传感器类型</option>
                <option value="temp">temp</option>
                <option value="fan">fan</option>
            </select>
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="最小值" id="min_value" value="{{ config_list[0].min_value }}">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="最大值" id="max_value" value="{{ config_list[0].max_value }}">
        </div>
        <div class="col">
            <input type="button" id="set_value" class="btn btn-primary mb-2" value="Confirm">
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="../static/js/dygraph.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            
            $("#set_value").click(function () {
                const max_value = $("#max_value").prop('value');
                const min_value = $("#min_value").prop('value');
                $.ajax({
                    url: '{{ url_for('sensor.set_value') }}',
                    type: 'GET',
                    data: {'max_value': max_value, 'min_value': min_value},
                    success: function (data) {
                        if (data === "True") {
                            $("#custom_primary_alert").empty().show().text('Success').delay(5000).fadeOut(300);
                        } else {
                            $("#custom_primary_alert").empty().show().text('Failure').delay(5000).fadeOut(300);
                        }
                    },
                    error: function (xhr, type) {
                        $("#custom_primary_alert").empty().show().text('Connection failed!').delay(5000).fadeOut(300);
                    }
                })
            });

            $(":checkbox", this).click(function () {
                const isChecked = $(this).prop('checked');
                $.ajax({
                    url: '{{ url_for('sensor.handle_send') }}',
                    type: 'GET',
                    data: {'node': $(this).prop('name'), 'action': isChecked},
                    success: function (data) {
                        if (data === "True") {
                        }
                    },
                    error: function (xhr, type) {
                        $("#custom_primary_alert").empty().show().text('Connection failed!').delay(5000).fadeOut(300);
                        // Restore checkbox status
                        $(this).prop('checked', !isChecked);
                    }
                })
            });

            // Temperature Dynamic Update
            let temp_data = [];
            temp_data.push([new Date(), {{ temp_first }}]);

            const g = new Dygraph(document.getElementById("div_g"), temp_data,
                {
                    drawPoints: true,
                    valueRange: [15, 35],
                    labels: ['Time', 'Temperature']
                });
            // It sucks that these things aren't objects, and we need to store state in window.
            window.intervalId = setInterval(function () {
                $.ajax({
                    url: '{{ url_for('sensor.show_message') }}',
                    type: 'GET',
                    success: function (msg) {
                        if (msg.result === "success") {
                            var x = new Date();  // current time
                            var y = msg.data;
                            temp_data.push([x, y]);
                            g.updateOptions({'file': temp_data});
                        }
                    }
                })
            }, 5000);
        });
    </script>
{% endblock %}
