{% extends "base.html" %}

{% block styles %}
    <style>
        #div_g {
            width: 600px;
            height: 300px;
            padding: auto;
        }
    </style>
{% endblock %}

{% block content %}
    <div style="font-size: large;padding-bottom: 10px;">实时温度</div>
    <div class="card">
        <div class="card-body">
            <div id="div_g"></div>
        </div>
    </div>

    {#    <div class="custom-control custom-switch">#}
    {#        <input type="checkbox" class="custom-control-input" id="lampSwitch" name="lamp">#}
    {#        <label class="custom-control-label" for="lampSwitch">灯的开关</label>#}
    {#    </div>#}
    {#    <div class="custom-control custom-switch">#}
    {#        <input type="checkbox" class="custom-control-input" id="fanSwitch" name="fan">#}
    {#        <label class="custom-control-label" for="fanSwitch">空调的开关</label>#}
    {#    </div>#}

    <div style="font-size: large;padding: 50px 0 10px 0;">开关</div>
    <form>
        <div class="form-row">
            <div class="col">
                <div class="custom-control custom-toggle my-2">
                    <input type="checkbox" id="lampSwitch" name="lamp" class="custom-control-input">
                    <label class="custom-control-label" for="lampSwitch">厕所的灯</label>
                </div>
            </div>
            <div class="col">
                <div class="custom-control custom-toggle my-2">
                    <input type="checkbox" id="fanSwitch" name="fan" class="custom-control-input">
                    <label class="custom-control-label" for="fanSwitch">抽油烟机0</label>
                </div>
            </div>
            <div class="col">
                <div class="custom-control custom-toggle my-2">
                    <input type="checkbox" id="lampSwitch1" name="lamp1" class="custom-control-input" disabled>
                    <label class="custom-control-label" for="lampSwitch1">抽油烟机1</label>
                </div>
            </div>
            <div class="col">
                <div class="custom-control custom-toggle my-2">
                    <input type="checkbox" id="lampSwitch2" name="lamp2" class="custom-control-input" disabled>
                    <label class="custom-control-label" for="lampSwitch2">抽油烟机2</label>
                </div>
            </div>
            <div class="col">
                <div class="custom-control custom-toggle my-2">
                    <input type="checkbox" id="lampSwitch3" name="lamp3" class="custom-control-input" disabled>
                    <label class="custom-control-label" for="lampSwitch3">抽油烟机3</label>
                </div>
            </div>
        </div>
    </form>

{% endblock %}

{% block scripts %}
    <script src="../static/js/dygraph.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {

            $("input", this).click(function () {
                var isChecked = $(this).prop('checked');
                $.ajax({
                    url: '{{ url_for('sensor.handle_send') }}',
                    type: 'GET',
                    data: {'node': $(this).prop('name'), 'action': isChecked},
                    success: function (data) {
                        if (data === "True") {
                        }
                    },
                    error: function (xhr, type) {
                        $("#custom_primary_alert").empty().show().text('Connection failed!').delay(5000).fadeOut(300);
                        // Restore checkbox status
                        $(this).prop('checked', !isChecked);
                    }
                })
            });

            // Temperature Dynamic Update
            var temp_data = [];
            temp_data.push([new Date(), 20]);

            var g = new Dygraph(document.getElementById("div_g"), temp_data,
                {
                    drawPoints: true,
                    valueRange: [15, 35],
                    labels: ['Time', 'Temperature']
                });
            // It sucks that these things aren't objects, and we need to store state in window.
            window.intervalId = setInterval(function () {
                $.ajax({
                    url: '{{ url_for('sensor.show_message') }}',
                    type: 'GET',
                    success: function (msg) {
                        if (msg.result === "success") {
                            var x = new Date();  // current time
                            var y = msg.data;
                            temp_data.push([x, y]);
                            g.updateOptions({'file': temp_data});
                        }
                    }
                })
            }, 5000);
        });
    </script>
{% endblock %}
