<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .heimu, .heimu a, a .heimu, .heimu a.new {
            background-color: #252525;
            color: #252525;
            text-shadow: none;
        }

        body:not(.heimu_toggle_on) .heimu:hover, body:not(.heimu_toggle_on) .heimu:active, body:not(.heimu_toggle_on) .heimu.off {
            transition: color .13s linear;
            color: #fff;
        }
    </style>
</head>
<body>
<h1>
    德意志的<span class="heimu" title="你知道的太多了"><del>骨科</del></span>医疗技术世界第一！
</h1>
<img src="{{ url_for('video.video_feed') }}">
</body>
</html>