{% extends "base.html" %}

{% block content %}
    <div style="width: 600px; height: 450px; margin: auto;">
        <h1></h1>
        <img src="{{ url_for('media.video_feed') }}">
        <p>
            <span style="color:red;">( ◕ ‿‿ ◕ )</span>
            <span style="color:blue;">( ◕ ‿‿ ◕ )</span>
            <span style="color:red;">( ◕ ‿‿ ◕ )</span>
            <span style="color:blue;">( ◕ ‿‿ ◕ )</span>
            <span style="color:red;">( ◕ ‿‿ ◕ )</span>
        </p>
    </div>
{% endblock %}